name: CI
on:
  - push
  - pull_request

jobs:
  build:
    name: ${{ matrix.os }} (${{ matrix.rust }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust:
          - 1.60.0
          - stable
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
    steps:

    - uses: actions/checkout@v3

    - name: Install ${{ matrix.rust }}
      uses: dtolnay/rust-toolchain@master
      with:
          toolchain: ${{ matrix.rust }}
          override: true

    - run: cargo build

  security-audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/audit-check@v1.2.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
