name: security audit
on:
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
env:
  CARGO_TERM_COLOR: always
jobs:
  security-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
